#_flag,
#_mark,
#MathJax-Element-4 ~ br {
  display: none;
}

#content {
  padding: 0;
  margin: 0;
}

.card,
body.nightMode.card {
  background-color: white;
}
.MJXc-display {
  margin: 0 !important;
}
