.is-back .cloze-group.group-active {
  &:not(:not(tr)),
  &.line {
    background-color: var(--color-lightest);
  }

  &.line {
    $spacing: 0.85em;
    position: relative;
    width: calc(100% + 1.7em);

    margin-left: -$spacing;
    padding-left: $spacing;
    padding-right: $spacing;
    &::after {
      position: absolute;
      top: 0;
      border-right: 0.15em solid #bfbfbf;
      content: "";
      height: 100%;
      right: 0;
    }
  }
}
