pre code {
  box-sizing: border-box;
  white-space: pre-wrap;

  width: 10000px;
  max-width: 100%;
  @include font-size-retrievable(1rem);
  padding: 1.5em;
  @include display-retrievable("block");
  border: none;
  word-break: break-all;
  line-height: 1;
  tab-size: 2;
  position: relative;

  &::after {
    content: attr(data-code-label);
    text-transform: uppercase;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 99;
    font-size: 1.5em;
  }
  span.optional-details {
    max-width: 8ch;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: bottom;
    white-space: nowrap;
  }
  hr {
    @include display-retrievable("block");
    background-color: currentcolor;
    border-color: currentcolor;
    border-style: solid;
  }
}
