<!-- former front -->

<div id="true-root-container">
  <div id="inner-root-container">
    <link href="bundle.css" rel="stylesheet">
    <template id="raw-tags">{{Tags}}</template>
    <template id="raw-content">{{cloze:Text}}</template>
    <template id="parsed-container"></template>
    <div id="content-container"></div>
    <script src="anki_bundle.js"></script>
  </div>
</div>

<!-- former back -->

<div id="true-root-container">
  <div id="inner-root-container">
    <div class="is-back-indicator"></div>
    <link href="bundle.css" rel="stylesheet">
    <template id="raw-tags">{{Tags}}</template>
    <template id="raw-content">{{cloze:Text}}</template>
    <template id="parsed-container"></template>
    <div id="content-container"></div>
    <script src="anki_bundle.js"></script>
  </div>
</div>
  