#_flag,
#_mark,
#MathJax-Element-4 ~ br {
  display: none;
}

#content {
  padding: 0;
  margin: 0;
}

.card,
body.nightMode.card {
  background-color: white;
}
.MJXc-display {
  margin: 0 !important;
}

body {
  margin: 0;
  overflow-wrap: break-word;
  overflow-anchor: none;
}

body,
#qa {
  min-height: 100vh;
  min-width: 100vw;
}

img {
  max-width: 100% !important;
  max-height: 100% !important;
}
