.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0.5em 0;
  > * {
    flex: 1 1 1%;
    width: 1%;
    box-sizing: border-box;
    margin: 0.1em;
    max-height: 20em !important;
  }
  @for $step5 from 1 through 20 {
    .width-#{$step5 * 5} {
      flex-grow: 0;
      flex-basis: unquote(($step5 * 5) + "%");
    }
  }

  .is-cloze-scramble-or-hide.fullsize {
    flex-basis: 100%;
    flex-shrink: 0;
  }
}
@for $step5 from 1 through 20 {
  .width-#{$step5 * 5} {
    width: unquote(($step5 * 5) + "%");
  }
}
span > img {
  width: 100%;
}
img {
  @include display-retrievable(inline-block);
  @include boxlike();
  box-sizing: border-box;
  object-fit: contain;
}
