@import "headings.scss";

.headered-container {
  margin-block-start: 1.75em;
  margin-block-end: 1.25em;
  @include display-retrievable("block");

  &:not(.depth-1) {
    margin-left: 1.25em;
  }
}

.headered-container summary {
  color: var(--color-light);
}
