ul,
ol {
  @include display-retrievable("block");
  margin: 0.2em 0;
  list-style: none;
  padding-inline-start: 1em;
  counter-reset: list;
}
ol {
  list-style-type: decimal;
}
dl {
  @include block-element();
  dt {
    font-style: italic;
  }
  dd {
    padding-left: 0.5em;
  }
}


li.ordered::before{
  counter-increment: list;
  content: counter(list) ". ";
}

li.unordered::before{
  content: "- ";
}